
body{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: palevioletred;
}

ul{
 list-style-type: none;
 padding: 0;
 margin: 0;
}

ul li{
float: right;
}

ul li a{
  display: block;
  text-decoration: none;
  padding: 12px;
  margin: 16px;
  color: palevioletred;
}

.txtdiv{
  margin: 5rem 0 0 0;
  text-align: center;
}

.maintxt{
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.subtxt{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.shopbtn{
    border: 1px solid;
    border-radius: 25px;
    padding: 8px 16px;
    font-family: "DM Sans", sans-serif;
    margin: 1rem 0.2rem 0 0;
    color: palevioletred;
    background-color: white;
}

.aboutbtn{
    border: 1px solid;
    border-radius: 25px;
    padding: 8px 16px;
    font-family: "DM Sans", sans-serif;
    margin: 1rem 0.2rem 0 0;
    color: palevioletred;
    background-color: white;
}

.aboutbtn:hover{
    color:white;
    background-color: palevioletred;
    transition-duration: 0.3s;
}

.shopbtn:hover{
    color:white;
    background-color: palevioletred;
    transition-duration: 0.3s;
}