@font-face {
  font-family: 'HumaneSemBd';
  src: url('./fonts/Humane-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'DM Sans';
  color: #ff3d57;
  background-color: #fffbeb;
  margin: 0;
  padding: 0;
}

ul{
 list-style-type: none;
 padding: 0;
 margin: 0;
}

ul li{
float: right;
}

.home {
  float: left;
}

.index{
  display: block;
  text-decoration: none;
  margin: 0;
}

ul li a{
  display: block;
  text-decoration: none;
  padding: 12px;
  margin: 16px;
  color: #ff3d57;
}

.txtdiv{
  margin: 5rem 0 0 0;
  text-align: center;
}

.maintxt{
    font-family: 'HumaneSemBd', sans-serif;
    font-size: 200px;
    margin: 0;
    padding: 0;
    color: #353535;
}

.subtxt{
    font-family: 'HumaneSemBd', sans-serif;
    font-size: 278px;
    margin: -3rem 0 0 0;
    padding: 0;
    color: #353535;
}

.shopbtn{
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    padding: 8px 16px;
    font-family: 'DM Sans';
    color: #ff3d57;
    background-color: #fffbeb;
    margin: -3rem 0.2rem 0 0;
}

.aboutbtn{
    border: 1px solid;
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 18px;
    font-family: 'DM Sans';
    color: #ff3d57;
    background-color: #fffbeb;
    margin: -3rem 0 0 0.2rem;
}

.aboutbtn:hover{
    color:#fffbeb;
    background-color: #ff3d57;
    transition-duration: 0.3s;
    border: 1px solid;
}

.shopbtn:hover{
    color:#fffbeb;
    background-color: #ff3d57;
    transition-duration: 0.3s;
    border: 1px solid;
}

.mainimg{
  height: 30rem;
  width: 30rem;
  object-fit: contain; 
  margin: -18rem 0 -2rem 4rem;
}

.footer{
  background-color: black;
  padding: 0;
  margin: 0 ;
}

.footer-img{
  height: 200px;
  width: 200px;
 object-fit: cover;
}

.copyright{
  padding:0;
  margin: -1.3rem 0 0 0;
  color: #adadad;
}

.topimg{
  height: 50px;
  width: 50px;
 object-fit: cover;
}

.viddiv{
  text-align: center;
}

.vid{
  height: 500px;
  width: 1280px;
  object-fit: cover;
  border-radius: 25px;
}

.heading{
  text-align: center;
  font-size: 64px;
  color:#353535;
}

.sub-heading{
  text-align: center;
  font-size: 32px;
  color:#353535;
}

.item-div{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
}

.card-a{
  background-color: white;
  color:#353535;
  height: 400px;
  width: 330px;
  border-radius: 25px;
}

.card-a-img{
  height: 220px;
  width: 220px;
  object-fit: contain;
}

.item-name{
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.item-price{
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.mrp{
  font-size: 18px;
  color:#adadad;
}

.add-cart{
  border: 1px solid;
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 18px;
    font-family: 'DM Sans';
    color: #ff3d57;
    background-color: white;
    margin: 1rem 0 0 0.2rem;
}

.add-cart:hover{
    color:white;
    background-color: #ff3d57;
    transition-duration: 0.3s;
    border: 1px solid;
}
@media (max-width: 600px) {
  .maintxt{
    font-family: 'HumaneSemBd', sans-serif;
    font-size: 100px;
    margin: 0;
    padding: 0;
    color: #353535;
}

.subtxt{
    font-family: 'HumaneSemBd', sans-serif;
    font-size: 138px;
    margin: -1.5rem 0 0 0;
    padding: 0;
    color: #353535;
}

.mainimg{
  height: 15rem;
  width: 15rem;
  object-fit: contain; 
  margin: -8rem 0 -1rem 3rem;
}

.shopbtn{
    border: 1px solid;
    border-radius: 25px;
    font-size: 12px;
    padding: 7px 14px;
    margin: -3rem 0.2rem 0 0;
}

.aboutbtn{
    border: 1px solid;
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 12px;
    margin: -3rem 0 0 0.2rem;
}
}

