@font-face {
  font-family: 'HumaneSemBd';
  src: url('./Humane-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'DM Sans';
  color: #ff3d57;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.popup-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.popup-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 480px;
    background-color: white;
    color: #252525;
    border-radius: 25px;
    animation: moveit 3.1s;
}

.popup-txt {
    margin: 1rem 0 0 0;
}
.popup-des {
    margin: 0rem 0 1rem 0;
}
.popup-view {
    margin: 1rem 0 1rem 0;
    border: none;
    color: #006209;
    background-color: #2ECC71;
    font-size: 18px;
    border-radius: 7px;
    padding: 10px 30px 10px 30px;
}

@keyframes moveit {
    0%{opacity: 1;transform: translateY(-100px);animation-timing-function: cubic-bezier(1,0,.02,.99)}
    10%{opacity: 1;transform: translateY(100px);}
    90%{opacity: 1;transform: translateY(100px);filter: blur(0);}
    100%{opacity: 1;transform: translateY(-100px);filter: blur(5px);}
}


input[type='radio'] {
 accent-color: black;
}

s{
  color:#adadad;
}

ul{
 list-style-type: none;
 padding: 0 0 3rem 0 ;
 margin: 0;
background-color:#f0f0f0;
}

nav{
  position: sticky;
  top: 0;
  z-index: 1;
}

ul li{
float: right;
}

.home {
  float: left;
}

.index{
  display: block;
  text-decoration: none;
  margin: 0;
}

ul li a{
  display: block;
  text-decoration: none;
  padding: 12px;
  margin: 16px;
  color: #ff3d57;
}

.txtdiv{
  margin: 5rem 0 0 0;
  text-align: center;
}

.maintxt{
    font-family: 'HumaneSemBd', sans-serif;
    font-size: 200px;
    margin: 0;
    padding: 0;
    color: #353535;
}

.subtxt{
    font-family: 'HumaneSemBd', sans-serif;
    font-size: 278px;
    margin: -3rem 0 0 0;
    padding: 0;
    color: #353535;
}

.shopbtn{
    font-family: 'DM Sans';
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    padding: 8px 16px;
    color: #ff3d57;
    background-color: #f5f5f5;
    margin: -3rem 0.2rem 0 0;
}

.fi-br-arrow-up-right:before {
    content: "\e108";
  font-size: 12px;
    }

.aboutbtn{
    border: 1px solid;
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 18px;
    font-family: 'DM Sans';
    color: #ff3d57;
    background-color: #f5f5f5;
    margin: -3rem 0 0 0.2rem;
}

.aboutbtn:hover{
    color:#f5f5f5;
    border: 1px solid;
    background-color: #ff3d57;
    transition-duration: 0.3s;
}

.shopbtn:hover{
    color:#f5f5f5;
    border: 1px solid #ff3d57;
    background-color: #ff3d57;
    transition-duration: 0.3s;
}

.mainimg{
  height: 30rem;
  width: 30rem;
  object-fit: contain; 
  margin: -18rem 0 -2rem 4rem;
  pointer-events: none;
}

footer{
  margin: 0;
  padding: 0;
}

.footer-heading {
  font-size: 15px;
  color: #FFFFFF;
  opacity: 75%;
  font-weight: bold;
}

.footer-links {
  font-size: 25px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.footerbg{
  position: absolute;
  width: 100vw;
  height: 630px;
  object-fit: cover;
  object-position: top; 
  overflow: hidden;
  margin: -10rem 0 0rem 0;
  z-index: -100;
  background-size: cover;
}

.top-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem;
  margin: 0 1.5rem 0 1.5rem;
}

.bottom-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 2rem 0 2rem;
}

.footer-img{
  height: 280px;
  width: 280px;
}

.cuppa {
  width: 700px;
  height: 350px;
  margin: 0px;
  overflow: hidden;
}

.cup {
  width: 600px;
  height: 800px;
  transform: rotate(24deg);
}

.copyright-div {
  margin: -2rem 0 0 1rem;
}

.copyright{
  padding:0;
  margin: -1.3rem 0 0 1rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
}

.terms{
  padding:0;
  font-size: 1.2rem;
  margin: -1.3rem 0 0 1rem;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.topimg{
  height: 50px;
  width: 50px;
 object-fit: cover;
}

.img-fest {
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.topimg-fest{
  height: 100%;
  width: 100%;
 object-fit: contain;
 transform: scale(1.85);
}

.viddiv{
  text-align: center;
   margin: 3rem 0 12rem 0;
}

.vid{
  height: auto;
  max-width: 95vw;
  object-fit: cover;
  border-radius: 25px;
}

.offimgdiv{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offimg{
  display: none;
  height: auto;
  width: 95vw;
  text-align: center;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.offimga{
  display: block;
  height: auto;
  width: 95vw;
  text-align: center;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.sub-head-div{
position: sticky;
top: 4rem;
background-color: #f5f5f5;
  font-style: bold;
}

.sub-heading{
  text-align: center;
  font-size: 32px;
  color:#353535;
  margin: 3rem 0 0 0;
}

.item-div{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
}

.card-a{
  background-color: white;
  color:#353535;
  height: 410px;
  width: 330px;
  border-radius: 25px;
  text-align:left;
  
}

.card-a-img{
  height: 215px;
  width: 330px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  margin: 0rem 0 0 0;
  pointer-events: none;
}

.product{
  margin: 0 0 0 2rem;
}

.veg{
  margin: 0 0 0 0.5rem;
}

.item-name{
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.price{
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.description{
  font-size: 14px;
  color:#adadad;
  line-height: 0px;
}

.mrp{
  font-size: 18px;
  color:#adadad;
}

.save {
  display: none;
  height: 21px;
  width: 70px;
  background-color: rgb(60, 255, 143, 23%);
  border-radius: 6.25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 6px;
}

.savetxt {
  color: #2ECC71;
  font-weight: bold;
  font-size: 12px;
}

.inline-mrp {
  display: inline-flex;
}

.add-cart{
  border: 1px solid;
  cursor: pointer;
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 18px;
    font-family: 'DM Sans';
    color: #ff3d57;
    background-color: white;
    margin: 0.5rem 0 0 0;
}

.add-cart:hover{
    color:white;
    background-color: #ff3d57;
    transition-duration: 0.3s;
    border: 1px solid #ff3d57;
}

.checkout{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 5rem 0;
}

.heading-out{
  color:#353535;
  font-size: 4rem;
  padding: 0;
  margin: 2rem 0 0 0;
  text-align: center;
}

input{
  border: 1px solid;
  color: #353535;
  background-color: transparent;
  border-radius: 6.25px;
  padding: 10px;
  margin: 0.5rem;
}

textarea{
  border: 1px solid;
  color: #353535;
  background-color: transparent;
  border-radius: 6.25px;
  padding: 0px;
  margin: 0rem;
  resize: none;
  height: 37px;
  width: 184px;
}

.place{
  border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    padding: 8px 16px;
    font-family: 'DM Sans';
    color: #ff3d57;
    background-color: white;
    margin: 0.5rem 0 4rem 0;
}

.place:hover{
    color:#fffbeb;
    background-color: #ff3d57;
    transition-duration: 0.3s;
    border: 1px solid #ff3d57;
}

#check{
  padding: 1rem;
}

label{
  color:#353535;
}

.info{
  font-size: 16px;
  color:#adadad;
  padding: 0;
  margin: 0;
}

@media (max-width: 1220px) {
  .bottom-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0rem 0 0rem;
}

.cuppa {
  width: 500px;
  height: 350px;
  margin: 0px;
  overflow: hidden;
}

.cup {
  width: 430px;
  height: 700px;
  transform: rotate(24deg);
}

}

@media (max-width: 955px) {
  
  .top-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
  margin: 0 1.5rem 0 1.5rem;
}

  .bottom-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
}

.footer-img{
  height: 180px;
  width: 180px;
}

.copyright{
  padding:0;
  margin: -1rem 0 0 0.5rem;
  color: #ffffff;
  text-align: center;
  font-size: 0.7rem;
}

.terms{
  padding:0;
  font-size: 0.7rem;
  margin: -1.3rem 0 0 0.5rem;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.copyright-div {
  margin: -1.5rem 0 0 0.8rem;
  position: absolute;
}

.cuppa {
  width: 350px;
  height: 250px;
  margin: 0px;
  overflow: hidden;
}

.cup {
  width: 300px;
  height: 500px;
  transform: rotate(24deg);
}

.footerbg{
  position: absolute;
  width: 100vw;
  height: 481px;
  object-fit: cover;
  object-position: top; 
  overflow: hidden;
  margin: -7rem 0 0rem 0;
  z-index: -100;
  background-size: cover;
}
}

@media (max-width: 600px) {

ul li a{
  display: block;
  text-decoration: none;
  padding: 12px;
  margin: 16px 6px 0  0;
  color: #ff3d57;
}

  .fi-br-arrow-up-right:before {
    content: "\e108";
  font-size: 8px;
    }
  
  .maintxt{
    font-family: 'HumaneSemBd', sans-serif;
    font-size: 100px;
    margin: 0;
    padding: 0;
    color: #353535;
}

.subtxt{
    font-family: 'HumaneSemBd', sans-serif;
    font-size: 138px;
    margin: -1.5rem 0 0 0;
    padding: 0;
    color: #353535;
}

.mainimg{
  height: 15rem;
  width: 15rem;
  object-fit: contain; 
  margin: -8rem 0 -1rem 3rem;
}

.shopbtn{
    border: 1px solid;
    border-radius: 25px;
    font-size: 12px;
    padding: 7px 14px;
    margin: -3rem 0.2rem 0 0;
}

.aboutbtn{
    border: 1px solid;
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 12px;
    margin: -3rem 0 0 0.2rem;
}

.vid{
  height: 110vw;
  max-width: 95vw;
  object-fit: cover;
  border-radius: 25px;
}

.viddiv{
  text-align: center;
   margin: 3rem 0 8rem 0;
}
  
.offimg{
  display: block;
  height: auto;
  width: 95vw;
  text-align: center;
  border-radius: 12.5px;
  justify-content: center;
  align-items: center;
}

.offimga{
  display: none;
  height: auto;
  width: 95vw;
  text-align: center;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.sub-heading{
  text-align: center;
  font-size: 24px;
  color:#353535;
  margin: 1rem 0 0 0;
}

.footer-img{
  height: 150px;
  width: 150px;
 object-fit: cover;
}

.top-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem ;
  margin: 0 1.5rem 0 1.5rem;
}

.bottom-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
}

.top-footer-section {
  margin: 0 1.5rem 0 1.5rem;
}

.footer-heading {
  font-size: 10px;
  color: #FFFFFF;
  opacity: 75%;
  font-weight: bold;
}

.footer-links {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.copyright{
  padding:0;
  margin: -1rem 0 0 0.3rem;
  color: #ffffff;
  text-align: center;
  font-size: 0.7rem;
}

.copyright-div {
  position: absolute;
  margin: -1rem 0 0 0.5rem;
}

.terms{
  padding:0;
  font-size: 0.7rem;
  margin: -1.3rem 0 0 0.2rem;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

  

.footerbg{
  position: absolute;
  width: 100vw;
  height: 462px;
  object-fit: cover;
  object-position: top; 
  overflow: hidden;
  margin: -7rem 0 0rem 0;
  z-index: -100;
  background-size: cover;
}

.cuppa {
  width: 250px;
  height: 250px;
  margin: 0px;
  overflow: hidden;
  z-index: -100;
}

.cup {
  width: 420px;
  height: 400px;
  transform: rotate(-24deg);
  
}

.insider {
  margin: 4rem 0 0 0;
}

  .popup-container {
    scale: 0.5;
}
}

@media (max-width: 497px) {
  .footerbg{
  position: absolute;
  width: 100vw;
  height: 562px;
  object-fit: cover;
  object-position: top; 
  overflow: hidden;
  margin: -5rem 0 0rem 0;
  z-index: -100;
  background-size: cover;
}
}

@media (max-width: 333px) {
  .footerbg{
  position: absolute;
  width: 100vw;
  height: 727px;
  object-fit: cover;
  object-position: top; 
  overflow: hidden;
  margin: -7rem 0 0rem 0;
  z-index: -100;
  background-size: cover;
}
}
















